@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  width: 80%;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add to your global.css */
.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: rgba(0, 0, 0, 0.8);
}


